<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" />
  </head>
  <body style="text-align: center;" >
    <div class="wsd" wsd_style="default">
      <pre>
        <% for(let i=0; i<data.length; i++){ %>
          <% if(data[i].length !== 0){ %>
            <%= `${data[i][0]} - ${data[i][3]}->${data[i][1]}: ${data[i][2]}` %>
        <% }} %>

</pre
      >
    </div>

    <script
      type="text/javascript"
      src="https://www.websequencediagrams.com/service.js"
    ></script>
  </body>
</html>